[submodule "agent-workspace"]
	path = agent-workspace
	url = https://github.com/naliazheli/agent-workspace.git
[submodule "hermes-agent"]
	path = hermes-agent
	url = https://github.com/naliazheli/hermes-agent.git
[submodule "external/mini-swe-agent"]
	path = external/mini-swe-agent
	url = https://github.com/SWE-agent/mini-swe-agent.git
[submodule "external/pi"]
	path = external/pi
	url = https://github.com/earendil-works/pi.git
